<div class="tarjet">

  <div class="banner">
    <div class="banner-text">
      <h1>Vous avez vos plans, on a vos bons plans.</h1>
    </div>

    <form class="search-form">
      <input type="text" placeholder="Départ" name="departure" required />
      <input type="text" placeholder="Destination" name="destination" required />
      <div class="row">
        <div class="col-9">
          <input
				class="form-control"
				placeholder="yyyy-mm-dd"
				name="dp"
				name="date"
				ngbDatepicker
				#d="ngbDatepicker"
			/>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-secondary feather icon-calendar" (click)="d.toggle()" type="button"></button>
        </div>



      </div>

      <ngb-timepicker name="time" />
      <select name="passengers">
        <option>1 passager</option>
        <option>2 passagers</option>
        <option>3 passagers</option>
        <option>4 passagers</option>
      </select>

      <select name="baggage">
        <option>Petit sac</option>
        <option>Valise cabine</option>
        <option>Grosse valise</option>
      </select>

      <div class="radio-group">
        <label>Animaux autorisés ?</label>
        <div class="radios">
          <label><input type="radio" name="pets" value="yes" /> Oui</label>
          <label><input type="radio" name="pets" value="no" /> Non</label>
        </div>
      </div>
      <div class="radio-group">
        <label>Cigarette autorisée ?</label>
        <div class="radios">
          <label><input type="radio" name="cigarette" value="yes" /> Oui</label>
          <label><input type="radio" name="cigarette" value="no" /> Non</label>
        </div>
      </div>
      <input type="number" name="maxPrice" placeholder="Prix max (€)" />

      <button type="submit">Publier un trajet</button>
    </form>
  </div>
</div>
