<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div [class]="formClasses" [formGroup]="userForm">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign up</h3>
        <div class="input-group mb-3">
          <input type="text"  class="form-control" [ngClass]="{'is-invalid': userForm.controls['firstName'].touched && userForm.controls['firstName'].invalid}" placeholder="Nom" formControlName="firstName"/>
          <div class="invalid-feedback" *ngIf="userForm.controls['firstName'].invalid">Please enter the first name.</div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Prénom" formControlName="lastName"/>

        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Téléphone" formControlName="phoneNumber"/>

        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Adresse" formControlName="address"/>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" formControlName="email"/>
        </div>
        <div class="input-group mb-4">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" aria-describedby="passwordHelpBlock"/>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be at least 8 characters long.
          </small>
        </div>
        <button class="btn btn-primary shadow-2 mb-4" (click)="signUp()">Sign up</button>
        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
