<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center" [formGroup]="userForm">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign up</h3>
        <div class="input-group mb-3">
          <input type="text"  class="form-control" [ngClass]="{'is-invalid': userForm.controls['firstName'].touched && userForm.controls['firstName'].invalid}" placeholder="Nom" formControlName="firstName"/>
          <div class="invalid-feedback" *ngIf="userForm.controls['firstName'].invalid">Please enter the first name.</div>
        </div>
        <div class="input-group mb-3">
          <input type="text"  class="form-control" [ngClass]="{'is-invalid': userForm.controls['lastName'].touched && userForm.controls['lastName'].invalid}" placeholder="Prénom" formControlName="lastName"/>
          <div class="invalid-feedback" *ngIf="userForm.controls['lastName'].invalid">Please enter the last name.</div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control"  [ngClass]="{'is-invalid': userForm.controls['phoneNumber'].touched && userForm.controls['phoneNumber'].invalid}" placeholder="Téléphone" formControlName="phoneNumber"/>
          <div class="invalid-feedback" *ngIf="userForm.controls['phoneNumber'].invalid">Please enter number</div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [ngClass]="{'is-invalid': userForm.controls['address'].touched && userForm.controls['address'].invalid}" placeholder="Adresse" formControlName="address"/>
          <div class="invalid-feedback" *ngIf="userForm.controls['address'].invalid">Please enter adresse</div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" [ngClass]="{'is-invalid': userForm.controls['email'].touched && userForm.controls['email'].invalid}" placeholder="Email" formControlName="email"/>
          <div class="invalid-feedback" *ngIf="userForm.controls['email'].invalid">email invalid</div>
        </div>
        <div class="input-group mb-4">
          <input type="password" class="form-control" [ngClass]="{'is-invalid': userForm.controls['password'].touched && userForm.controls['password'].invalid}" placeholder="Password" formControlName="password" aria-describedby="passwordHelpBlock"/>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be at least 8 characters long.
          </small>
          <div class="invalid-feedback" *ngIf="userForm.controls['password'].invalid">mot de passe invalid</div>
        </div>
        <button class="btn btn-primary shadow-2 mb-4" (click)="signUp()">Sign up</button>
        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
