<h3>Lundi 14 avril</h3>
<div class="row">

  <div class="col-6">

    <div class="banner">
      <div class="search-form">
        <div class="row">
          <div class="col-6">
            <div class="timeline-container">
              <!-- Départ -->
              <div class="city-info">
                <div class="hour">08:00</div>
                <div class="city">Sfax</div>
              </div>

              <div class="line"></div>

              <!-- Arrivée -->
              <div class="arrival">
                <div class="city">Tunis</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h3 style="float: inline-end;">25 DT</h3>
          </div>
        </div>
        <hr>
        <span style="display: flex;">
          <span>
            <i class="fas fa-car fa-xl"></i>
          </span>
          <div class="pro-head" style="margin-top: -10px;">

            <img src="assets/images/user/avatar-1.jpg" class="img-radius" style="width: 50%;" alt="User-Profile-Image" />
          </div>
          <span>salah ali</span>
          <span style="margin-left: 15px;">
            <i class="fas fa-star"></i>
            4,8
          </span>
        </span>
      </div>
    </div>

    <div class="banner" style="padding-top: 2%;">
      <div class="search-form">
        <h4 style="text-align: start;">Passagers</h4>
        <span style="display: flex;">
          <div class="pro-head" style="margin-top: -10px;">

            <img src="assets/images/user/avatar-1.jpg" class="img-radius" style="width: 50%;" alt="User-Profile-Image" />
          </div>
          <span>mohamed ali</span>
        </span>
        <span style="display: flex;">
          <div class="pro-head" style="margin-top: -10px;">

            <img src="assets/images/user/avatar-1.jpg" class="img-radius" style="width: 50%;" alt="User-Profile-Image" />
          </div>
          <span>mohamed ali</span>
        </span>
      </div>
    </div>
  </div>

  <div style="height: 300px;" class="col-6 d-flex justify-content-center align-items-center">
    <button class="btn-book">Réserver le trajet</button>
  </div>
</div>
